.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1 / 2;
 

}



.main {
    grid-row: 2 / 3;
    background-image: radial-gradient(circle, #b0bfd4, #848fa7, #5d627c, #383852, #18122b);

}

footer {
    grid-row: 3 / 4;
}

/*=============================
  css veteran added
  ===========================*/
  .main{
    overflow: hidden;
}
html {

    font-size: 62.5%;
}




/* =================================
css for the search and sort menu
=================================== */

body{
    /* tried to fill gap */
    /* background-image: radial-gradient(circle, #b0bfd4, #848fa7, #5d627c, #383852, #18122b); */
}
.main{
    overflow: hidden;
    padding: 1rem;
}
.fixed{
    position: relative;
    top: 60px;  /*if removed the bar will go behind*/
    z-index: 888;
  
    display: block;

    width: 20%;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 15px;
    margin: auto;
    
  }
  .fixed .instructions{
    display: flex;
   justify-content: center;
    align-items: center;
    height: 30px;
    gap: 2rem;
  }
  

/* =================================
css for the search and sort menu completed 
=================================== */


/* =======================================
 css for table view started here
 ====================================== */

 /* =================================
css for the block section starts here 
=================================== */


/* grid 5 display */

.block{
    position: relative;
    top: 12rem;
    padding: 0 1rem;
    /* background-color: red; */

}
.row{
    padding: 0 2rem;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(15%,1fr));
    place-items: center;
    margin: 0px 20px;
    row-gap: 1rem;
   
    /* column-gap: 5rem; */
  }
  .row .tile{
    text-align: center;
    width: 100%; /* changed 25  and then from 18 ,keep 16 to get 5 grid better layout and block padding 1rem x-axis*/
    height: 36px;  /* changed 21 and then from 14  keep ,13 to get 5 grid better layout*/
    word-break: break-all;
  
    cursor: pointer;
/* box-sizing: border-box; */
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    /* background-color: #18122b; */
    background-color: rgba(17, 36, 88, 0.7);
    opacity: 0.7;
    display: flex;
    transition: all 0.4s;
  }
  .row .tile:hover{
    transform: scale(1.03);
    /* background-color: #00ff62d7; */
    /* background-image: linear-gradient(to right top, #00ff09, #00ff60, #00ff8d, #1affb0, #54ffcb, #5bffcd, #62fecf, #68fed1, #4bfdbe, #2ffba7, #12f88d, #00f56f); */
    background-color: #18122B;
    border: 3px solid #18122B;
    opacity: 1;
  }
  .row .notTile:hover{
    /* check color of whole tile */
    /* background-image: linear-gradient(to right top, #ff2800, #ff4c23, #ff653d, #ff7b55, #ff8f6d, #ff906e, #ff906e, #ff916f, #fe7f57, #fc6c40, #f95826, #f54000); */
    background-color: #18122B;
    opacity: 1;
  }


  /*========================
   solo tile  new layout
  =========================  */
.tile-proto{
    width: 100%;
    height: 31px;
   
    padding: 0.4rem;
    box-sizing: border-box;
     /*this was white bg color*/
     /* background-image: linear-gradient(to bottom, #0bdd5d, #00e684, #00eea6, #00f5c5, #19fbdf);  parrot green */
     /* background-image: linear-gradient(to bottom, #02ff7f, #00fca0, #00f9bb, #34f4cf, #61eedc); */
     /* below one 3 colors */
     /* background-image: linear-gradient(to right top, #00ff09, #00ff60, #00ff8d, #1affb0, #54ffcb, #5bffcd, #62fecf, #68fed1, #4bfdbe, #2ffba7, #12f88d, #00f56f); */
     background-color: white;
    /* border-radius: 10px; */
    border: 3px solid #18122B;
    font-weight: 900;
}

/* .notregistered{
   background-image: linear-gradient(to right top, #ff2800, #ff4c23, #ff653d, #ff7b55, #ff8f6d, #ff906e, #ff906e, #ff916f, #fe7f57, #fc6c40, #f95826, #f54000);
} */


/* .tile-proto .tile-proto-info table tr{
    margin-top: 40px;
} */
.tile-proto .tile-proto-info table tr td{
    padding: 0rem 8rem;
    vertical-align:top;
    font-weight: 900;
    font-size: 1.3rem;
    box-sizing: border-box;
}
.status{
  
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}
.status .status-text{   
     color: white;
     
    padding: 0.1rem 1rem;
    border-radius: 30px;
    background-color: #19f500;
}

/* .tile-proto .tile-proto-info table tr td:nth-child(odd){
    text-align: left;
    font-size: 1.4rem;
    font-weight: 900;
}
.tile-proto .tile-proto-info table tr td:nth-child(even){
    /* text-align: right; */
    /* font-size: 1.2rem; */
    /* font-weight: 900; */
    /* background-color: #18122B; */
    
/* }  */

/* =================================
css for the block section ends here 
=================================== */

/* =======================================
 css for table view ends here
 ====================================== */

 /* =======================================
 css for pagination starts here
 ====================================== */

.paginationTable{
    height: 7rem;
    display: flex;
    font-size: 1.5rem;
    /* background-color: #ffffff; */
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 13rem;
}

 /* =======================================
 css for pagination ends here
 ====================================== */

 



/*=============================
  responsiveness css veteran added
  ===========================*/

  @media screen and (max-width:760px) {
    html{
        font-size:55% ;
        font-weight: 700;
    }
    .layout header{
        font-size: 5rem;
        font-weight: 900;
    }
    .tile-proto .tile-proto-info table tr td{
        padding: 0.2rem 0.8rem;
        box-sizing: border-box;
    }
    .tile-proto{
        padding: 0.1rem;
    }
    .tile-proto .tile-proto-info table tr td{
        font-size: 1.2rem;
    }
    .tile-proto .tile-proto-info table tr td span{
        font-size: 1.2rem;
    }

}


@media (max-width:700px) {

    /* *{
        check about this
          font-size: 0.75rem;
        }  */
    .layout header{
        font-size: 5rem;
        font-weight: 900;
    }
    html{
        font-size:55% ;
        font-weight: 700;
    }
    .fixed{
        width: 65%;
    }
    

    .block{
        top: 13rem;
        position: relative;
        margin-bottom: 10rem;
    }
    /* .row{ */
   /* padding: 6rem 0rem;   padding and boxsizing added now*/
    /* margin: auto auto;
    box-sizing: border-box;
    } */
    /* .row .tile{ */
      
      /* width: 100vw; */
      /* height: 30px; */
      /* margin-right: 8rem;  not used */
    /* } */
    /* .tile-proto{
        width: 100%;
        height: 28px;
    } */
    .paginationTable{
        top: -2rem;
    }

    
    footer{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .tile-proto .tile-proto-info table tr td{
        /* padding: 0.2rem 0.7rem; */
        box-sizing: border-box;
    }
    .tile-proto .tile-proto-info table tr td{
        font-size: 1.2rem;
        width: 100%;
        font-weight: 900;
    }
    .tile-proto .tile-proto-info table tr td span{
        font-size: 1.2rem;
        font-weight: 900;
    }
    
    .row{
        grid-template-columns: repeat(auto-fit,minmax(60%,1fr));
        padding: 6rem 10rem;   /*padding and boxsizing added now*/
        margin: auto auto;
        gap: 1rem;
        box-sizing: border-box;
        }
    .row .tile{
        padding: 0.2rem;
        box-sizing: border-box;
            width: 25rem;
            height: 20rem
            /* margin-right: 8rem; */
     }
     .tile-proto{
        width: 23rem;
        height: 19rem;
    }
    .flexbox{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18rem;
        width: 23rem;
        flex-direction: column;
       text-align: center;
       gap: 1rem;
    }
}


@media (max-width:900px) and (min-width:700px) {
   
    .fixed{
        position: fixed;
        top: 60px;
        flex-direction: column;
    }


    /* .row .tile{
      
        width: 100vw;
        height: 30px;
      }
      .tile-proto{
          width: 100%;
          height: 28px;
      } */
      .tile-proto .tile-proto-info table tr td{
        padding: 0.1rem 1rem;
        box-sizing: border-box;
        font-weight: 900;
        font-size: 0.8rem;
    }
    .tile-proto .tile-proto-info table tr td span{
        font-size: 0.8rem;
        font-weight: 900;
    }
    .block{
        top: 15rem;
    }
    .paginationTable{
        top: 15rem;
    }
    .row{
        grid-template-columns: repeat(2,minmax(40%,1fr));
        padding: 2rem;
        gap: 1rem;
        box-sizing: border-box;
        }
    .row .tile{

        width: 25rem;
        /* height: 20rem */
        height: 19rem;
        /* margin-right: 8rem; */
 }
 .tile-proto{
    /* width: 23rem; */
    width: 22rem;
    height: 18rem;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 23rem;
    flex-direction: column;
   text-align: center;
   gap: 1rem;
}

}
    
    
    
    @media (max-width:1130px) and (min-width:900px) {

    
    .fixed{
        position: fixed;

        left: 0;
        flex-direction: column;
    }
    .sort{ 
        flex-direction: column;
    }
    .tile-proto .tile-proto-info table tr td{
        font-size: 1rem;
        font-weight: 900;
        padding: 0rem 3.5rem;
    }
    .tile-proto .tile-proto-info table tr td span{
        font-size: 1rem;
    }
    .block{
        top: 13rem;
    }
    .paginationTable{
        top: 13rem;
    }
}
@media (max-width:1450px) and (min-width:1130px) {
    .tile-proto .tile-proto-info table tr td{
        font-size: 1.1rem;
        font-weight: 900;
        padding: 0rem 5rem;
    }
    .tile-proto .tile-proto-info table tr td span{
        font-size: 1.1rem;
    }
}
/* @media (max-height:1020px) and (min-height:800px) {
    .paginationTable{
        top: 8rem;
    }
} */
