.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1 / 2;
 

}



.main {
    grid-row: 2 / 3;
    background-image: radial-gradient(circle, #b0bfd4, #848fa7, #5d627c, #383852, #18122b);

}

footer {
    grid-row: 3 / 4;
}




/* =======================
login page css 
======================= */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&display=swap');

/* body{
    /* tried to fill gap */
    /* background-image: radial-gradient(circle, #b0bfd4, #848fa7, #5d627c, #383852, #18122b); */
/* } */

.main{
    overflow: hidden;
}

html {

    font-size: 62.5%;
}

.card{
    position: absolute;
    top: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 470px;
    width: 100%;
    background: #121212 ;  /* dark pallete :443C68   393053  18122B  og(865DFF)*/
    padding: 20px 30px 80px;
    transition: all 0.3s;
    border-radius: 12px;
    box-shadow: 100px 50px 100px rgba(248, 244, 244, 0.3);
    /* background: url("https://e0.pxfuel.com/wallpapers/403/677/desktop-wallpaper-blue-minimalist-mountain-range-vaporwave-minimalist-forest-neon-purple-mountain.jpg"); */
    /* overflow: hidden; */
    
    }
    .card form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
      
    }
    .form header{
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
.active .form-group label{
    color: #18122B;
    
}
.active .form-group input{
  
    border: 2px solid #18122B;
}

    form input{
        height: 40px;
        font-size: 1.4rem;
        padding: 0 12px;
        box-sizing: border-box;
        border-radius: 12px;
        border: none;
        font-weight: 900;
        caret-color: #18122B ;
        width: 100%;
        transition: all 0.3s;
    }
    form input:focus{
        border: 1px solid #18122B ;
        transform: scale(1.02);
        opacity: 1;
    }
    
    form label{
        transition: all 0.3s;
        font-size: 1.6rem;
        color: white;
        font-weight: bold;
    }
    form input[type="submit"]{
        padding: none;
        font-size: 1.5rem;
        height: 40px;
        font-weight: 800;
        width: 50%;
        margin: auto;
        cursor: pointer;
        margin-top: 3rem;
        color: #18122B ;
        transition: all 0.3s;
    }
    form input[type="submit"]:hover{
    transform: scale(1.02);
    }
    form input[type="password"]{
        transition: all 0.3s;
    }

     .active .form-register{
        bottom: 20%;
        border-radius: 30px;
    }
    #loginHeader{
        text-decoration: underline;
        color: white;
        width: 100%;
     
        margin: auto;
        border-radius: 10px;
        
    }
    .active #registerHeader{
        color: white;
    }
    #registerHeader{
        position: absolute;
        padding-left: 15rem;
        font-size: 2.3rem;
        color: #18122B;
        margin-top: 4rem;
    }
    
    /*  karthik bro tol to change */
    .active {
        padding: 20px 30px 80px;
   
    }
    .active input[type="text"],.active label{
        transform: translateY(20px);
        transition: all 0.3s;
    }
    .active form input[type="submit"]{
        position: relative;
        transition: all 0.3s;
        transform: translateY(-60px);
        opacity: 1;
        margin: auto;


    }
    /* .active header{
        transition: all 0.3s;
        transform: translateY(-390px);
    } */
    .active .form-login input[type="password"],.active .form-login #passName{
        visibility: hidden;
        opacity: 0;
    }
    .background{
        top: 400px;
        position: absolute;
        width: 470px;
        left: 0px;
        border-radius: 15%;
        z-index: -2;
        height: 300px;
        background-color: rgb(255, 255, 255);
        transition: all 0.5s;
    }
    .active .background{
        top: 80px;
        left: -1px;
        border-radius: 0;
        visibility: visible;
        opacity: 1;
        position: absolute;
        z-index: -2;
        width: 480px;
        height: 300px;
        background-color: rgb(255, 255, 255);
    }
    /* .active .form-login #loginHeader{
        opacity:1;
    } */

    
    /**/
 
    @media screen and (max-width:760px) {
        html{
            font-size:55% ;
            font-weight: 700;
        }
        .layout header{
            padding: 2;
            font-size: 5rem;
            font-weight: 900;
        }
        .card{
            max-width: 300px;
        }
        .form{
            font-size: 1rem;
        }
        .form header{
            font-size: 3rem;
        }
        form input{
            height: 36px;
            font-size: 1.4rem;
            border-radius: 10px;
            padding: 0 15px;

        }
        form input[type="submit"]{
            padding: none;
            font-size: 1rem;
            height: 30px;
            margin-top: 1rem;

        }
        form .card{
            max-width: 400px;
            width: 100%;
            padding: 10px 15px 80px;
        }

        #registerHeader{
            font-size: 2rem;
        
            padding-left: 9rem;
        }
        form input[type="submit"]{
            font-size: 1.7rem;
        }
        footer{
            padding: 2;
            font-size: 1.5rem;
        }
        .background{
            top: 350px;
            width: 300px;
        }
        .active .background{
        height: 200px;
        }

    }
